
    <%= f.label :name, t("activerecord.attributes.user.name", :default => "Name"), :class => :label %>
    <%= f.text_field :name, :class => 'text_field' %>


<div class="actions">
  <button class="btn primary" type="submit">Save</button> or
	<%= link_to "Cancel", users_path %>
</div>
