<div class="page-header">
	<h1>About <small>the backgrounds</small></h1>
</div>
Created by Philipp Abraham

<h3>Featuring</h3>
<a href="http://rubyonrails.org/">Ruby on Rails 3.1</a> <br/>
<a href="http://twitter.github.com/bootstrap/">Twitter Bootstrap</a>
(via <a href="https://github.com/seyhunak/twitter-bootstrap-rails">twitter-bootstrap-rails</a>) <br/>
