
<% if current_user %>
  <h1><small>Welcome</small><%= current_user.name %></h1>
<% else %>

  <h3><small>please</small> Login</h3>
  <p>Bitte mit einem der angebotenen Provider einloggen...</p>
  <div class="well">
    <a href="/auth/github" class="btn"><%= image_tag('github_32.png') %> <span class="btn-icon-text">Github</span></a>
    <a href="/auth/google_oauth2" class="btn"><%= image_tag('google_32.png') %> <span class="btn-icon-text">Google</span></a>
  </div>
  <p>Probleme bitte bei der <a href="https://github.com/master-lincoln/WG-Tool/issues">Github-Seite</a>melden...</p>
  <p>Bei HTTP-Basic Authentifizierung ist der Name <b>wg</b> und das Passwort das übliche...</p>
<% end %>